<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Redis.Host" value="127.0.0.1" />
    <add key="Redis.Port" value="6379" />
    <add key="Redis.Db" value="11" />
    <add key="Redis.Password" value="" />
  </appSettings>
  <runtime>
    <loadFromRemoteSources enabled="true" />
  </runtime>
  <connectionStrings>
    <add name="Service" providerName="MySqlDataProvider" connectionString="Data Source=127.0.0.1;Database=service;Uid=root;Pwd=123456" />
    <add name="Game" providerName="MySqlDataProvider" connectionString="Data Source=127.0.0.1;Database=game;Uid=root;Pwd=123456" />
  </connectionStrings>
</configuration>
